# Copia este archivo a .env y completa los valores

# Variables para Telegram
# Token de BotFather
TELEGRAM_API_TOKEN=
# Usuario del bot SIN @ (por ejemplo: MiBot123_bot)
BOT_USERNAME=

# Variables para ngrok
# Authtoken de tu cuenta ngrok
NGROK_AUTHTOKEN=
