rasa==3.6.20
rasa-sdk==3.6.2
wikipedia-api>=0.6.0
pyTelegramBotAPI>=4.12.0
requests>=2.31.0
pyjokes>=0.6.0
swiplserver==1.0.2
google-api-python-client>=2.100.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib==1.0.0
